.container {
  margin-left:80px;
  margin-right: 60px;
}
h3{
  font-size: xxx-large;
}

.flex-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.flex-child {
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

.flex-child:nth-of-type(1n+1) {
  background: #e83e8c 
}
.flex-child:nth-of-type(2n+1) {
  background:#a376f8;
}
.flex-child:nth-of-type(3n+1) {
  background:#ff8f85;
}
.flex-child:nth-of-type(4n+1) {
  background:#d6b03e;
}
.flex-child:nth-of-type(5n+5) {
  background:#3DC47E; 
}

.card {
  margin: 10px;
  padding: 10px;
  text-align: center;
  min-height: 300px;
  min-width: 200px;
  border-radius: 3px;
  position: relative;

}

.flex-child:hover,
.flex-child:focus {
  background-color: #fff;
  color: #333;
}

.upper-case {
  text-transform:uppercase;
}

.types, .weight, .ability {
  padding: 10px;
  border-radius: 6px;
  margin: 5px;
  border: 1px solid gray;
  margin-top: 5px;
}

.level {
  margin-top: 35px;
}

.profile {
  display: block;
  margin-left: 35%;
}